This project is built in React, Vite, TailwindCSS, and Electron. All TSX code must be written in TypeScript.

### Coding Environment

The user asks questions about the following coding languages:

- React (V19)
- Vite
- TypeScript
- TailwindCSS (V4)
- HTML
- CSS

### Coding Guidelines

- All React code must be as modern as possible. Use React 18 and 19, if posssible. Avoid deprecated features.
- Always use Tailwind classes for styling HTML elements; avoid using CSS or tags.
- Always use the latest and most modern standards.
- Build components using shadcn/ui if you can.
- We're using Canary for the latest ShadCN features, so remember: Use npx shadcn@canary instead of npx shadcn-ui@latest
- Leave NO todo’s, placeholders or missing pieces.
- If you think there might not be a correct answer, say so.
- If you do not know the answer, say so instead of guessing.

