@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* Define base values. */
:root {
  --neutral-50: hsl(60, 14%, 98%);
  --neutral-100: hsl(50, 7%, 96%);
  --neutral-200: hsl(60, 5%, 90%);
  --neutral-300: hsl(60, 5%, 83%);
  --neutral-400: hsl(0, 0%, 64%);
  --neutral-500: hsl(0, 0%, 45%);
  --neutral-600: hsl(0, 0%, 33%);
  --neutral-700: hsl(0, 0%, 25%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-900: hsl(0, 0%, 9%);

  --emerald-50: #f5f8f5;
  --emerald-100: #e8f0e8;
  --emerald-200: #d1e1d1;
  --emerald-300: #acc9ac;
  --emerald-400: #7fa980;
  --emerald-500: #5d8a5f;
  --emerald-600: #49704a;
  --emerald-700: #426343;
  --emerald-800: #324933;
  --emerald-900: #2b3c2c;
  --emerald-950: #141f15;

  --highlight-50: hsl(70, 84%, 94%);
  --highlight-100: hsl(70, 78%, 91%);
  --highlight-200: hsl(70, 69%, 87%);
  --highlight-300: hsl(70, 51%, 82%);
  --highlight-400: hsl(70, 35%, 77%);
  --highlight-500: hsl(70, 17%, 69%);
  --highlight-600: hsl(70, 11%, 57%);
  --highlight-700: hsl(70, 10%, 42%);
  --highlight-800: hsl(70, 14%, 32%);
  --highlight-900: hsl(70, 27%, 22%);

  --chart-1: #374869;
  --chart-2: #595081;
  --chart-3: #86548e;
  --chart-4: #b5548c;
  --chart-5: #df577d;
  --chart-6: #fb6662;
  --chart-7: #ff823f;
  --chart-8: #ffa600;

  --foreground: hsl(240 10% 3.9%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive-foreground: hsl(0 0% 98%);
  --background: hsl(0 0% 100%);
  --card: hsl(0 0% 100%);
  --popover: hsl(0 0% 100%);
  --primary: hsl(240 5.9% 10%);
  --secondary: hsl(240 4.8% 95.9%);
  --muted: hsl(240 4.8% 95.9%);
  --accent: hsl(240 4.8% 95.9%);
  --destructive: hsl(0 84.2% 60.2%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);

  --radius: 0.6rem;
  --sidebar-background: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --sidebar: hsl(0 0% 98%);

  --radius: 10px;

  --background: hsl(50, 7%, 96%);
  --foreground: hsl(0, 0%, 5%);

  --card: var(--neutral-100);
  --popover: var(--neutral-50);
  --primary: var(--emerald-500);
  --secondary: var(--neutral-200);
  --muted: var(--neutral-300);
  --accent: var(--highlight-500);
  --destructive: hsl(0, 72%, 51%);
  --card-foreground: var(--neutral-900);
  /* --highlight-700); */
  --popover-foreground: var(--neutral-900);
  --primary-foreground: var(--neutral-50);
  --secondary-foreground: var(--neutral-900);
  --muted-foreground: var(--neutral-700);
  /* --highlight-700); */
  --accent-foreground: var(--neutral-50);
  --destructive-foreground: var(--neutral-50);

  --border: var(--neutral-400);
  /* --highlight-800); */
  --input: var(--neutral-300);
  --ring: var(--emerald-400);

  /* Sidebar Colors */
  --sidebar-background: var(--neutral-200);
  --sidebar-foreground: var(--neutral-900);
  --sidebar-primary: var(--emerald-500);
  --sidebar-primary-foreground: var(--neutral-50);
  --sidebar-accent: var(--highlight-900);
  --sidebar-accent-foreground: var(--neutral-50);
  --sidebar-border: var(--neutral-700);
}

@theme inline {
  --color-brand-50: var(--emerald-50);
  --color-brand-100: var(--emerald-100);
  --color-brand-200: var(--emerald-200);
  --color-brand-300: var(--emerald-300);
  --color-brand-400: var(--emerald-400);
  --color-brand-500: var(--emerald-500);
  --color-brand-600: var(--emerald-600);
  --color-brand-700: var(--emerald-700);
  --color-brand-800: var(--emerald-800);
  --color-brand-900: var(--emerald-900);

  --color-highlight-50: var(--highlight-50);
  --color-highlight-100: var(--highlight-100);
  --color-highlight-200: var(--highlight-200);
  --color-highlight-300: var(--highlight-300);
  --color-highlight-400: var(--highlight-400);
  --color-highlight-500: var(--highlight-500);
  --color-highlight-600: var(--highlight-600);
  --color-highlight-700: var(--highlight-700);
  --color-highlight-800: var(--highlight-800);
  --color-highlight-900: var(--highlight-900);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar-background);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@layer base {
  :root {
  }

  .mdx-theme {
    .mdxeditor-toolbar {
      @apply shadow-2xl;
      overflow: visible !important;

      &:before {
        @apply bg-background;
        display: block;
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 50%;
        z-index: -1;
        --toolbar: hsla(0, 0%, 95%, 1);
        --toolbar-transparent: hsla(0, 0%, 90%, 0);
        background: linear-gradient(var(--toolbar), var(--toolbar-transparent));
      }

      /* Toolbar colors */

      --baseBase: var(--emerald-500);
      --baseBg: var(--neutral-100);
      --baseBgSubtle: var(--emerald-500);
      --baseBgHover: var(--emerald-200);
      --baseBgActive: var(--emerald-200);

      --baseLine: var(--emerald-500);
      --baseBorder: var(--emerald-500);
      --baseBorderHover: var(--emerald-500);
      --baseSolid: var(--emerald-700);
      --baseSolidHover: var(--emerald-500);
      --baseText: var(--emerald-600);
      --baseTextContrast: var(--highlight-900);

      --accentBase: var(--emerald-500);
      --accentBgSubtle: var(--emerald-500);
      --accentBg: var(--emerald-500);
      --accentBgHover: var(--emerald-500);
      --accentBgActive: var(--emerald-500);

      --accentLine: var(--emerald-500);
      --accentBorder: var(--emerald-500);
      --accentBorderHover: var(--emerald-500);
      --accentSolid: var(--emerald-500);
      --accentSolidHover: var(--emerald-500);
      --accentText: var(--emerald-500);
      --accentTextContrast: var(--emerald-500);
    }
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
  }

  input,
  button,
  textarea,
  :focus {
    outline: none;
  }

  .prose h1 {
    @apply text-4xl font-bold my-4;
  }

  .prose h2 {
    @apply text-3xl font-semibold my-3;
  }

  .prose h3 {
    @apply text-2xl font-medium my-2;
  }

  .prose h4 {
    @apply text-xl font-semibold my-2;
  }

  .prose h5 {
    @apply text-lg font-medium my-1;
  }

  .prose h6 {
    @apply text-base font-semibold my-1;
  }

  .prose p {
    @apply leading-relaxed my-2;
  }

  .prose ul {
    @apply list-disc pl-6 my-2;
  }

  .prose ol {
    @apply list-decimal pl-6 my-2;
  }
}
