@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  /* Define base colors. */
  --neutral-50: #FAF8EF;
  --neutral-100: #F5F0E0;
  --neutral-200: #ECE5CC;
  --neutral-300: #DFD5B6;
  --neutral-400: #CCC09F;
  --neutral-500: #B2A688;
  --neutral-600: #938A73;
  --neutral-700: #6D6961;
  --neutral-800: #4B4A4A;
  --neutral-900: #2D2D2D;
  --neutral-950: #111111;

  --highlight-50: #F5F6F1;
  --highlight-100: #D8DDC9;
  --highlight-200: #B9C5A0;
  --highlight-300: #98AD76;
  --highlight-400: #779256;
  --highlight-500: #597242;
  --highlight-600: #405731;
  --highlight-700: #2D4023;
  --highlight-800: #1F2E19;
  --highlight-900: #142111;
  --highlight-950: #0E180C;
  /* General dimensional characteristics */
  --radius: 0.6rem;

  /* General colors and proxies */
  --background: var(--neutral-50);
  --foreground: hsl(0, 0%, 5%);
  --popover: var(--neutral-50);
  --popover-foreground: var(--neutral-900);
  --primary: var(--highlight-600);
  --primary-foreground: var(--neutral-50);
  --secondary: var(--neutral-200);
  --secondary-foreground: var(--neutral-900);
  --muted: var(--neutral-300);
  --muted-foreground: var(--neutral-700);
  --accent: var(--neutral-300);
  --accent-foreground: var(--neutral-900);
  --destructive: hsl(0, 72%, 51%);
  --destructive-foreground: var(--neutral-50);

  --border: var(--neutral-400);
  --input: var(--neutral-300);
  --ring: var(--highlight-400);

  /* Card Colors and Proxies */
  --card: var(--neutral-50);
  --card-foreground: var(--neutral-900);

  /* Sidebar Colors & Proxies */
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --sidebar-background: var(--neutral-200);
  --sidebar-foreground: var(--neutral-700);
  --sidebar-primary: var(--highlight-700);
  --sidebar-primary-foreground: var(--neutral-50);
  --sidebar-accent: var(--neutral-300);
  --sidebar-accent-foreground: var(--highlight-200);
  --sidebar-border: var(--neutral-400);

  --sidebar-collapsed-foreground: var(--highlight-500);

  /* Chart Colors and Proxies */
  --chart-1: #374869;
  --chart-2: #595081;
  --chart-3: #86548e;
  --chart-4: #b5548c;
  --chart-5: #df577d;
  --chart-6: #fb6662;
  --chart-7: #ff823f;
  --chart-8: #ffa600;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-highlight-50: var(--highlight-50);
  --color-highlight-100: var(--highlight-100);
  --color-highlight-200: var(--highlight-200);
  --color-highlight-300: var(--highlight-300);
  --color-highlight-400: var(--highlight-400);
  --color-highlight-500: var(--highlight-500);
  --color-highlight-600: var(--highlight-600);
  --color-highlight-700: var(--highlight-700);
  --color-highlight-800: var(--highlight-800);
  --color-highlight-900: var(--highlight-900);
  --color-highlight-950: var(--highlight-900);

  /* Base */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Card */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Popover */
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* Chart  */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Sidebar */
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-active: var(--sidebar-accent);
  --color-sidebar-active-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
}

@layer base {
  .mdx-theme {
    .mdxeditor-toolbar {
      @apply shadow-2xl;
      overflow: visible !important;

      &:before {
        @apply bg-background;
        display: block;
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 50%;
        z-index: -1;
        --toolbar: hsla(0, 0%, 95%, 1);
        --toolbar-transparent: hsla(0, 0%, 90%, 0);
        background: linear-gradient(var(--toolbar), var(--toolbar-transparent));
      }

      /* Toolbar colors */

      --baseBase: var(--highlight-500);
      --baseBg: var(--neutral-100);
      --baseBgSubtle: var(--highlight-500);
      --baseBgHover: var(--highlight-200);
      --baseBgActive: var(--highlight-200);

      --baseLine: var(--highlight-500);
      --baseBorder: var(--highlight-500);
      --baseBorderHover: var(--highlight-500);
      --baseSolid: var(--highlight-700);
      --baseSolidHover: var(--highlight-500);
      --baseText: var(--highlight-600);
      --baseTextContrast: var(--highlight-900);

      --accentBase: var(--highlight-500);
      --accentBgSubtle: var(--highlight-500);
      --accentBg: var(--highlight-500);
      --accentBgHover: var(--highlight-500);
      --accentBgActive: var(--highlight-500);

      --accentLine: var(--highlight-500);
      --accentBorder: var(--highlight-500);
      --accentBorderHover: var(--highlight-500);
      --accentSolid: var(--highlight-500);
      --accentSolidHover: var(--highlight-500);
      --accentText: var(--highlight-500);
      --accentTextContrast: var(--highlight-500);
    }
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
  }

  input,
  button,
  textarea,
  :focus {
    outline: none;
  }

  .prose h1 {
    @apply text-4xl font-bold my-8;
  }

  .prose h2 {
    @apply text-3xl font-semibold my-8 text-highlight-700;
  }

  .prose h3 {
    @apply text-2xl font-medium my-8 text-highlight-700;
  }

  .prose h4 {
    @apply text-xl font-semibold my-8 text-highlight-700;
  }

  .prose h5 {
    @apply text-lg font-medium my-8 text-highlight-700;
  }

  .prose h6 {
    @apply text-base font-semibold my-8 text-highlight-700;
  }

  .prose p {
    @apply leading-relaxed my-8;
  }

  .prose ul {
    @apply list-disc pl-6 my-8;
  }

  .prose ol {
    @apply list-decimal pl-6 my-8;
  }



  .loader {
    width: 1rem;
    height: 1rem;
    border: 5px solid var(--highlight-400);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation-duration: 20s;
    animation: loader-rotation 1s linear infinite;
  }

  @keyframes loader-rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}